/* standard settings */

html {
overflow-y: scroll; /* force vertical scrollbar for #stripe not to be re-positioned by scrollbar if content is vertically larger than viewport */
}

body {
font-size: 62.5%; /* 1em = 10px */
position: relative;
color: #000;
background-color: white;
margin: 0;
padding: 0;
border: 1px solid white; /* FF bug for navigationLeft having correct margin-top */
font-family: Arial, Helvetica, Verdana, sans-serif;
/* overflow: hidden avoid scrollbar */
}

div {
margin: 0;
padding: 0
}

img {
border: none
}

a:link, a:visited {
color: black;
font-style: normal;
font-weight: normal;
text-decoration: none;
}

a:hover, a:active, a:focus {
color: black;
font-style: normal;
text-decoration: none;
}

.clear {
clear: both
}

fieldset {
border: none;
margin: 0;
padding: 0;
}

div.last {
    padding-bottom: 1em;
}

li.last {
    padding-bottom: 1em;
}

.alignRight {
    text-align: right;
}

.warning {
    color: red;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.inline {
    display: inline;
}

.bold {
    font-weight: bold;
}

.marginBottom {
    margin-bottom: 1ex;
}

.marginTop {
    margin-top: 1ex;
}

div.tooltip {
    position: absolute;
    background-color: #FFFFD1;
    border: 1px solid #BBBB00;
    border-radius: 5px;
    padding: .5em;
    width: 250px;
    left: 20px;
    top: 0px;
    z-Index: 10;
}

span.tooltipframe {
    position: relative;
    left: 0px;
    top: 0px;
    width: 20px;
}

/* navigation left */

ul {
margin: 0;
padding: 0;
list-style: disc;
padding-left: 1.4em;
font-size: 1.2em;
line-height: 1.5em;
}

#logo {
height: 10.8em;
position: absolute;
left: 3.3em;
top: 2em
}

#navigationMenu {
float: left; /* body must wrap around whole content for footer */
margin: 17.5em 0 0 2em;
background-color: #cecece /*#d8dfea*/;
padding: .3em 0;
width: 11em;
font-size: 1em;
list-style-type: none
}

.navigationMenu {
padding: .5em 0;
}

.navigationSelect {
margin-left: .5em;
}

.seperatorListElementNavigationLeft {
margin-bottom: 1em
}

/*#navigationMenu > .submenu a {
padding-left: 1.8em;
font-weight: normal
}*/

.navigationMenu a:link, .navigationMenu a:visited {
display: block;
/* padding: .5em; */
font-size: 1.2em;
padding: .3em .3em .3em 1em;
font-weight: bold
}

.navigationMenu a:focus, .navigationMenu a:active, .navigationMenu a:hover {
color: gray
}

a.current {
background-color: #fff;
}

/* navigation top */

#warningOldIE, #warningNoJs  {
left: 40em;
color: red;
max-width: 550px;
position: absolute;
}

#warningNoJs  {
top: 6.5em;
}

#warningOldIE {
top: 8.5em;
display: none
}

#warningNoJs a:link, #warningNoJs a:visited, #warningNoJs a:focus, #warningNoJs a:hover {
text-decoration: underline;
color: red
}

#navigationTop {
margin: 2em 2em 0 18em;
position: relative;
}

#stripe {
background-color: #737373;
height: 4.2em;
position: relative
}

#title {
position: absolute;
right: 17em;
top: 1.2em
}

#subtitle {
position: absolute;
right: 5.2em;
top: 1.2em
}

.title {
font-size: 1.7em;
font-weight: bold
}

#navigationTopForm { /* when logged in */
position: absolute;
right: 17em;
text-align: right;
top: 5em;
}

#navigationTopForm a:hover {
color: red
}

form#navigationTopForm { /* when logged out */
top: 5.7em;
position: absolute;
}

#navigationTop input {
/*display: inline;*/
margin: 0 0 0 1em;
font-size: 0.9em;
letter-spacing: 0.1em;
}

.searchField {
background-color: #cecece;
color: black
}

#submitLogin {
border: none;
background: none;
padding: 0;
cursor: pointer;
color: black
}

#navigationTopSearchForm {
position: absolute;
top: 5.7em;
left: -0.8em
}

.labelTop {
margin: 0 0 0 1em
}

#language {
position: absolute;
right: 5.5em;
top: 6em
}

a.language {
font-weight: bold;
text-decoration: underline
}

#language > a:hover, #language > a:focus, #language > a:active {
color: gray
}

.language {
margin-left: .3em;
}

#seperatorTop {
position: absolute;
height: 4.2em;
width: 2em;
top: 0;
right: 13em;
background-color: #212121
}

#seperatorBottom {
position: absolute;
height: 4.2em;
width: 2em;
top: 4.2em;
right: 13em;
background-color: #cecece
}

/* content: member_profile.php: upper part */

#content {
position: relative;
margin: 11.3em 0 0em 18em;
}

#content a:link, #content a:visited {
color: #2f87aa /* #3b5998 */
}

#content a:hover {
color: black;
}

#content h1 {
    font-size: 1.2em;
    font-weight: bold;
}

#profilePhotoContainer {
min-height: 12em /* push tabs down if the width of photo is bigger than the height (see member=1901) */
}

#profilePhoto {
width: 8em;
position: relative;
margin-bottom: 2em;
/* float: left */
}

.profileUpperPartColumnLeft {
/* float: left; */
/* margin: 0 0 0 8.8em; not 5em for unknown reasons */
position: absolute; /* avoid float because floats must not be cleared due to floating #navigationMenu */
top: 0;
left: 16.8em;
width: 17em /* force line break if names are too long */
}

.profileUpperPartColumnRight {
/* float: left; */
/* margin: 0 0 0 8.8em; not 5em for unknown reasons */
position: absolute; /* avoid float because floats must not be cleared due to floating #navigationMenu */
top: 0;
left: 35em;
}

#miscInfo {
margin-left: 17em;
}

.icon {
margin-right: 1.2em
}

.xing {
margin-bottom: 2px;
}

.profileUpperPart {
margin: 0 0 .5em 0;
font-size: 1.2em;
line-height: 1.1em
}


/* content: member_profile.php: tabs */

#content .HomeTabs span { color: black } /* reset #content a */
#content .HomeTabs {overflow:hidden;float:left;margin-left:6px; cursor: pointer}
#content .HomeTabs .HomeTabs_tab{padding:5px 9px 3px;margin:3px 0 -1px;background-color:#cecece/*#d8dfea*/;display:block;float:left;font-size:11px;font-weight:bold;height:14px;border:1px solid #fff;border-bottom:none;position:relative;}
#content .HomeTabs span.HomeTabs_tab:hover{background-color:#737373/*#3b5998*/;color:#fff;text-decoration:none;}
#content .HomeTabs .HomeTabs_tab .HomeTabs_new_img{display:none;}
#content .HomeTabs .HomeTabs_has_new{padding:4px 18px 4px 8px;}
#content .HomeTabs .HomeTabs_has_new .HomeTabs_new_img{display:block;background:#d8dfea url(/images/7circle.png) no-repeat 0 0;width:7px;height:7px;top:8px;right:7px;position:absolute;display:block;text-decoration:none;text-indent:-9999px;overflow:hidden;}
#content .HomeTabs span.HomeTabs_has_new:hover .HomeTabs_new_img{text-decoration:none;}
#content .HomeTabs .Tabset_selected,
#content .HomeTabs span.Tabset_selected:hover{background-color:#fff;font-weight:bold;font-size:11px;color:#000;border-top:1px solid #cecece;border-left:1px solid #cecece;border-right:1px solid #cecece;border-bottom:1px solid white;margin-top:2px;margin-right:1px;margin-left:1px;padding-left:9px;padding-right:9px;height:16px;}

.newsfeed_header {
display: block;
padding-bottom:0;
border-bottom:1px solid #cecece /*#D3DAE8*/;
overflow: visible;
height: 26px
}

#newsfeed_tabs_wrapper {
margin:0 0 -1px;
padding:0 6px 0 0;
float:left;
overflow:hidden;
}

.home_main_item {
/* clear: both; clear float of columns in #profileUpperPart */
position: relative;
margin: 0 2em 0 -7px;
padding-top:0px;
background:#FFFFFF none repeat scroll 0 0;
overflow:hidden
}

/* content: member_profile.php: lower part / partner.php */

#tabMilitaer, #tabBeruf, #tabPublic, #tabVerein, #tabBuddies, #tabFamilie, #tabEinstellungen, #tabAdmin {
    display: none
}

#tabOne, #tabTwo, #tabThree, #tabFour, #tabFive, #tabSix {
    display: none
}

#tabLaufbahn, #tabNetzwerk, #tabMiliz, #tabSicherheitspolitik, #tabKommunikation {
    display: none
}

.list {
margin: 2em 0 0 0;
position: relative; /* for absolute positioned .editButton and .seperator */
z-index: 2;
}

.secondList {
margin: 0; /* avoid margin-top when due to technical requirements two list are generated for one entry */
position: relative; /* for absolute positioned .editButton and .seperator */
}

.seperator {
/* font-size: 1.2em; */
position: absolute;
top: -1em;
left: 0;
left: 16em;
/* margin: -2.2em 0 2.2em 14em;
margin: 0 0 0 14em; */
width: 20em;
border-top: solid 1px #cecece;
}

dt {
/* clear:left;
color: #737373; */
float:left;
/* width: 14em; */
font-size: 1.2em;
line-height: 1.1em;
font-weight: bold;
}

dd {
/* float:left; */
margin: 0 0 .5em 16em; /* margin: 0 0 .5em 0em; */
font-size: 1.2em;
line-height: 1.1em;
}

textarea {
width: 20em;
height: 10em
}

textarea.emailtemplate {
width: 50em;
height: 30em
}

input.emailtemplate {
width: 30em;
}

.bold {
font-weight: bold
}

.bold > a {
font-weight: bold /* overwrite a:link in member_profile.php in tab Vereine & Organisationen */
}

.editButton {
position: absolute;
/*left: 0;
bottom: 0;*/
left: 10em;
top: 0;
}

.editButtonRight { /* member_profile.php: Militaerische Heimat */
position: absolute;
left: 25em; /* 58em */
bottom: 0em /* 0 */
}

.editButtonNegativeBottom { /* member_profile.php: Details Familie (not to be hidden by Details Ehefrau) */
position: absolute;
left: 0; /* 58em */
bottom: -2em /* 0 */
}

.editButton2 { /* member_profile.php: Publikationen, Quellen und Diverses */
    position: relative;
    left: 0;
}

.deleteButton {
    position: absolute;
    left: 12em;
    top: 0;
}

.handoverButton {
    position: absolute;
    left: 10em;
    top: 3ex;
}

.promotionButton {
    position: absolute;
    left: 12em;
    top: 3ex;
}

form#newPassword label {
float: left;
width: 15em;
font-size: 1.2em;
padding: 0.4em 0.4em 0 0;
}

.formUpdateProfil table, .formHandover table {
margin: 0 0 2em 0
}

.formUpdateProfil label {
    float: left;
    width: 30em;
    font-size: 1.2em;
    padding: 0.4em 0 0 0;
}

.formHandover label {
    float: left;
    width: 20em;
    font-size: 1.2em;
    padding: 0.4em 0 0 0;
}

.formUpdateProfil tr {
display: block;
margin: .25em 0;
}

.formUpdateProfil .tableProfileAccordeon { /* Mitgliederbeitrag, overwrite .formUpdateProfil table */
font-size: 1.2em;
border-collapse: collapse;
margin: .5em .1em; /* margin-left due to FF bug */
}

.tableProfileAccordeon td {
border: 1px solid #cecece;
padding: .25em .5em
}

.tableProfileAccordeon .fixedWidthCell {
width: 8em
}

.tableProfileAccordeon tr {
display: table-row; /* overwrite .formUpdateProfil tr */
}

#updateProfileAboveTabs tr {
padding: 0 /* override .formUpdateProfil tr */
}

.formEmailTemplate label {
    width: 10em;
    font-size: 1em;
}

.formEmailTemplate td {
    font-size: 1.2em;
}

.fieldsetEditForm {
border: none;
background-color: #ffffd1;
width: 70em;
padding: 3em 1em 0 1em;
margin: 2em 0 0 0
}

.legend {
font-size: 1.2em;
color: black /* IE tab "change password" */
/* padding-top: 1.5em */
}

.fieldsetEditFormPassword {
position: relative;
width: 70em;
margin-top: 2em
}

.formsSubmitButton {
margin: 0 1em 0 0
}

.extendedMarginLeft {
margin-left: 22em
}

.inputDoubleLine {
margin-top: 0.6em
}

/* .legend {
font-size: 1.2em
} */

/* content: index.php */

.start {
height: 40em /* set height of #content for margin-bottom of #content */
}

#index p, #member p { /* padding in boxes not possible due to an IE7 bug which adds padding to width */
margin: 10px
}

#member p.nomargin {
    margin-bottom: 0;
}

/*h1 {
font-size: 1.2em ;
font-weight: normal;
margin: 0 0 1em 0;
font-weight: bold
}*/

#startTopLeft { /* no padding because of IE7 bug which adds padding to width */
overflow: hidden;
position: absolute;
/* top: 3px; */
left: 0;
width: 30em;
height: 20em;
border-right: solid 1px #cecece;
border-bottom: solid 1px #cecece;
border-top: solid 1px #cecece;
border-left: solid 1px #cecece;
/* outline: 1px solid black */
}

#startTopRight {
overflow: hidden;
position: absolute;
top: 0; /* for IE */
left: 30em;
width: 30em;
height: 20em;
border-bottom: solid 1px #cecece;
border-right: solid 1px #cecece;
border-top: solid 1px #cecece;
}

#startBottomLeft {
overflow: hidden;
position: absolute;
top: 20em;
left: 0;
width: 30em;
height: 18em;
border-right: solid 1px #cecece;
border-bottom: solid 1px #cecece;
border-left: solid 1px #cecece;
}

#startBottomRight {
overflow: hidden;
position: absolute;
top: 20em;
left: 30em;
width: 30em;
height: 18em;
border-right: solid 1px #cecece;
border-bottom: solid 1px #cecece;
margin: 0 0 2em 0 /* margin-bottom for absolute positioned divs */
}

div#startRndMember {
    overflow: hidden;
    height: 20em;
    width: 49%;
    float: left;
    background-image: url('../image/template/gradient2.png');
    background-repeat: no-repeat;
    margin-bottom: 2em;
}

div#startMember {
    overflow: hidden;
    height: 20em;
    width: 49%;
    float: right;
    background-image: url('../image/template/gradient2.png');
    background-repeat: no-repeat;
    margin-bottom: 2em;
}

div.startItem {
    overflow: hidden;
    background-image: url('../image/template/gradient2.png');
    background-repeat: no-repeat;
    width: 90%;
    margin-bottom: 2em;
}

div.startItemLeft {
    overflow: hidden;
    background-image: url('../image/template/gradient2.png');
    background-repeat: no-repeat;
    width: 49%;
    float: left;
}

div.startItemRight {
    overflow: hidden;
    background-image: url('../image/template/gradient2.png');
    background-repeat: no-repeat;
    width: 49%;
    float: right;
}

.memberEditButton {
    position: relative;
    left: 1em;
}

.fontSize {
font-size: 1.2em ;
/*margin-bottom: .3em*/
}

input.fontSize {
margin-left: .5em;
}

#formStart {
margin: 7em 0 0 0
}

#profilePhotoStart {
/* float: left;*/
position: absolute;

max-height: 15em;
max-width: 15em;
margin: 0 10px 0 10px;
}

#furtherPartner {
margin: 3.5em 0 0 0
}

.startNewsRight {
position: absolute;
left: 4em
}

#rssIcon {
position: absolute;
right: 1em;
top: 1em
}

#startPartnerList {
margin: 0 0 0 1.5em;
padding: 0;
list-style-type: disc
}

/* content: member_search.php */

.accordeon {
width: 100%; /* changed: width: 80%; */
margin: .3em 0
}

.accordeonProfile {
margin: 2.2em 0 0 0;
/* width: 100% avoid to be hidden by tabMilitaer etc */
}

/* .accordeon span {
display: block;
} */

/*.accordeon div.child, .accordeon span.parent {
padding: .6em;
} */

.accordeon span.parent {
/*padding: .5em 0 .5em 0;
line-height: auto;*/
padding: 0 0 0 1em;
}

.accordeon div {
margin-top: 2px; /* margin-bottom does not work for first .child */
}

.accordeon .groupChildren {
margin-top: 0;
padding: 1em 0
}


/* content: right row: viewing mode: parent */

.accordeon span.parent {
/* color: black; */
}

/*.accordeon span.parent {
background-color: #D2D2D2;
}*/

.accordeon .parent a {
text-decoration: none; /* for Safari */
}

/*.accordeon span.parent:hover {
background-color: #B4B4B4;
} */

/* content: right row: viewing mode: child */

.accordeon .child a {
/* text-decoration: underline for Safari */
}

/*.accordeon div.child {
background-color: #F0F0F0;
color: #000;
padding-left: 20px;
line-height: 1.4em
}*/

.accordeon div.child { /* avoid position: relative for effect to work properly in IE */
/*padding-bottom: .3em;*/
overflow: hidden;
position: relative /* for absolute positioned .editButton */
}

/*#menuCenterRow span.child {
margin-left: 25%;
}

#menuCenterRow .photo {
width: 20%;
max-width: 200px;
top: 2px;
float: left
} */

/*.accordeon .child:hover {
border-left: 4px #B4B4B4 solid;
padding-left: 16px;
}*/


/* member.php */

/* for tabs see member_profile.php */

.startIndex {
height: 40em
}

#member .noMargin {
margin: 0 0 0 15em;
/* width: 9em; changed 15/03/10, now that there are only 2 boxes full width can be used */
}

#member #startTopLeft .marginTop {
margin-top: 1em; /* override #member .noMargin */
}

#member #startTopLeft {
width: 60em;
}

.partner > .home_main_item {
margin-top: 0;
}

p {
font-size: 1.2em;
line-height: 1.5em;
/*max-width: 550px;*/
margin: 0
/* margin: 2em 0 2em 0; */
}

.memberBlogList {
margin: auto 10px auto 10px
}

/* search.php */

#fieldsetSearchForm {
border: none;
padding: 0;
margin: 0
}

#searchForm {
margin: 0 0 3em -.3em
}

#searchSubmit {
margin: 0 0 0 6em
}

.fixWidthSearchResults {
width: 20em
}

span.highlight {
background-color: #FFFFBB;
}

#content th > a:link,
#search th > a:link,
#admin th > a:link {
    color: #000;
    font-weight: bold;
}

#content th > a:visited,
#search th > a:visited,
#admin th > a:visited {
    color: #000;
    font-weight: bold;
}

/* organisation.php */

.tabContentHolder {
/* font-size: 1.2em;
line-height: 1.5em; */
margin-top: 2em;
max-width:550px;
position: relative /* for absolute positioned .editButton */
}

.tabContentHolder ul {
/* margin: 0;
padding: 0;
list-style: disc;
padding-left: 1.4em */
}

.mitgliederList {
margin: 0;
padding: 0;
font-size: 1.2em;
line-height: 1.5em;
list-style: disc;
padding-left: 1.4em
}

.vorstandSeparator {
margin-top: 2em;
border: 1px solid white; /* IE7 bug */
position: relative /* for absolute positioned .editButton */
}

.vorstandImage {
float: left;
width: 10em
}

.vorstandTopText {
margin-left: 12em;
font-size: 1.2em;
line-height: 1.5em;
}

.unorderedList {
margin-left: 12em;
/*padding: 0;
font-size: 1.2em;
line-height: 1.5em;
list-style: disc;
padding-left: 1.4em*/
}

.unorderedListAccordeon {
    min-height: 16px; /* display edit button even if .unorderedListAccordeon is empty */
}

.unorderedListAccordeon > div {
    margin-left: 2.5em;
}

#organisation #tabTwo .accordeon ul, #organisation #tabThree .accordeon ul, #organisation #tabThree .accordeon p, #projects .accordeon ul {
margin-left: 2em
}

.editButtonTop {
position: absolute;
top: 0;
left: 530px /* not wider than max-width of tabContentHolder */
}

.startEditButtonTop {
position: absolute;
top: 0;
right: 0
}

.liEditButtons {
margin-left: 2em
}

/* articles.php */

.contentHolder {
/* font-size: 1.2em;
line-height: 1.5em; */
max-width:550px;
position: relative /* for absolute positioned .editButton */
}

.contentHolder ul {
/* margin: 0;
padding: 0;
list-style: disc;
padding-left: 1.4em;
font-size: 1.2em;
line-height: 1.5em */
}

.contentHolder p {
/* margin: 0; */
}

/* footer */

.lastClear {
clear: both;
height: 10em
}

#footerLeft {
position: absolute;
top: 50em;
left: 3.1em
}

#footerRight {
position: absolute;
bottom: 1em;
right: 2em
}

#footerLeft a, #footerRight a {
color: #737373
}

/* partner.php */

.tableGrid {
/*border: 1px solid black;*/
border-spacing: 0;
border-collapse: separate;
font-size: 1em /* override standard value */
}

.tableMargin {
margin: 1em 0 1em 0
}

.tableGrid td, .tableGrid th {
border-right:1px solid #737373;
border-bottom:1px solid #737373;
padding: 0.4em 0.8em;
text-align: left;
font-size: 1.2em
}

.tableGrid th {
border-top:1px solid #737373;
background-color: #cecece
}

.tableGrid td.alignRight, .tableGrid th.alignRight {
    text-align: right;
}

.firstColumn {
border-left:1px solid #737373;
}

.nowrap {
white-space: nowrap;
}

.partnerList {
margin: -1em 0 0 0;
padding: 0;
font-size: 1.2em;
line-height: 1.5em;
}

.partnerNoMarginBottom {
margin-bottom: 0
}

.partnerNoMarginTop {
margin-top: 0
}

/* admin.php */

#content a.disabled {
    color: black;
    cursor: default;
}

#content a.disabled:visited {
    color: black;
    cursor: default;
}

th.sorttable_sorted, th.sorttable_sorted_reverse {
    background-color: #737373;
    cursor: default;
}

/* benefits.php: general */

.benefitsParagraphMargin {
	margin-bottom: 15px;
}

.benefitsParagraphSmallMargin {
    margin-top: 5px;
}

/* benefits.php: displaying offerings */

.benefitsWrapper {
	border: 1px dotted #CECECE;
	padding: 20px;
	margin-top: 15px;
	width: 745px
}

.benefitsColumnImg {
	width: 100px;
	float: left;
	margin-right: 30px;
	min-height: 140px /* no wrapping around of floating text */
}

.profilePhoto {
width: 8em;
position: relative;
margin-bottom: 2em;
/* float: left */
}

.benefitsColumnTextFirst {
	width: 600px;
	float: left;
	border-bottom: 1px dotted #CECECE;
	padding-bottom: 15px
}

.benefitsColumnTextLast {
	width: 600px;
	float: left;
	padding-top: 15px
}


.benefitsColumnTextLeft, .benefitsColumnTextRight {
	width: 285px;
	float: left;
}

.benefitsColumnTextLeft {
	margin-right: 30px
}


.benefitsColumnImg, .benefitsColumnTextFirst img {
	max-width: 100%;
	max-height: 100px
}

/* benefits.php: searching */

.benefitsSearchWrapper {
	padding: 15px;
	border: 1px dotted #CECECE;
	width: 130px;
	float: left;
	margin-right: 25px
	
}

.benefitsSearchWrapper .searchField {
	width: 120px
	
}

/* benefits.php: uploading / editing */

.benefitsUploadWrapper {
	padding: 20px;
	border: 1px dotted #CECECE;
	width: 580px;
	margin-bottom: 20px
	
}

.benefitsUploadWrapper > div {
	/*float: left*/
}

body .benefitsUploadWrapper > div.clear {
	clear: both;
	float: none
}

.benefitsUploadWrapperFirstBox {
	margin-right: 20px
}

